@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import './color';
@import './footer';
@import './navbar';
@import './banner';
@import './products';
@import './services';
@import './whatwedo';
@import './stacks';
@import './header';



  a{
    text-decoration: none;
  }
  .dropdown-menu {
    animation: growDown 300ms ease-in-out ;
    transform-origin: center;
    width: fit-content;
    // transition: all 0.4s ease-in-out;
  }
  .dropdown-item{
    font-weight: 400;
    &:hover{
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  .dropdown--btn{
    background-color: $secondary-color;
    color: $primary-color;
    border: 2px solid $secondary-color;
    padding: .7rem;
  }
